*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
.navbar-brand{
    font-weight: bolder;
    font-size: 30px;
    letter-spacing: 2px;
}
#log{
    position: relative;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: none;
}
#log::before{
    content:'';
    position: absolute;
    top: -280px;
    left: -110px;
    right: 0;
    width: 100%;
    height: 150%;
    transform: rotate(35deg);
    pointer-events: none;
    filter: blur(5px);
}
#log:nth-child(1){
    background: linear-gradient(to bottom,rgb(226, 224, 224), rgb(193, 193, 231))
}
footer{
    position: relative;
    width: 100%;
    background-color: black;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .social_icon, footer .menu{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px 0;
   flex-wrap: wrap;
}
footer .social_icon li, footer .menu li{
    list-style: none;
}
footer .social_icon li a{
    font-size: 2em;
    margin: 0px 8px;
    color: white;
    display: inline-block;
    transition: 0.5s;

}
footer .social_icon img:hover{
   transform: translateY(-10px);
}
footer .menu li a{
    font-size: 1em;
    margin: 0px 8px;
    color: white;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;

}
footer .menu li a:hover{
    opacity: 2;

}
footer p{
    font-family: sans-serif;
    color: white;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 13px;
    margin-left: 30px;
    opacity: 0.75;
    display: inline-block;
}